<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<div th:replace="head:: head" />
<body>
  <!--  BARRA DE NAVEGACAO -->
  <!-- injetar o frament menu -->
  <div th:replace="menu:: menu" />
  <br />
  <br />	
  <h2>FILMES</h2>
  <div class="row">
	  <div class="btn btn-secondary active buttonIndex">
	 	 <a th:href="@{/filmes/list}">Listar filmes</a>
	  </div>
	   <div class="btn btn-secondary active buttonIndex">	
	 	 <a th:href="@{/filmes/new}">Manter filmes</a>
	  </div>
  </div>
  <br />
  <br />
  <br />
  <h2>PESSOAS</h2>
  <div class="row">
	  <div class="btn btn-secondary active buttonIndex">
	 	 <a th:href="@{/pessoas/list}">Listar Pessoas</a>
	  </div>
	   <div class="btn btn-secondary active buttonIndex">
	 	 <a th:href="@{/pessoas/new}">Manter Pessoas</a>
	  </div>
  </div>
  
  <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>